flask==3.0.0
flask-cors
sentence-transformers
faiss-cpu
nltk
textblob
scikit-learn
torch
PyPDF2
python-docx
requests
numpy
pandas
ollama
textstat
werkzeug
pymongo
pytubefix
ffmpeg-python
openai-whisper
